node_modules
lib
*.log
/public/scripts/bundle.js
/public/scripts/bundle.min.js
/public/scripts-es6/bundle.js
/public/scripts-es6/bundle.min.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
